@font-face{font-family:Raleway;font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype')}@font-face{font-family:Raleway;font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype')}

html, body {
    font-family: 'Raleway', sans-serif;
    background-color: #1f1f1f;
    color: #eeeeee;
}
.title,.subtitle {
    color: #eeeeee;
}
.colonna_titolo {
    padding-top: 1.5rem;
}
.col-switch-lingua {
    display: flex;
    flex-direction: row;
}
.col-lingua {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col-lingua .btn-lingua {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    margin-right: 20px;
    border: 1px solid #acacac;
    padding: 5px 10px;
    border-radius: 5px;
}
.col-lingua .btn-lingua img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.col-lingua .btn-lingua span {
    font-size: 20px;
}
.col-lingua .btn-lingua.active {
    background-color: #08f;
}
.col-lingua .btn-lingua.active span{
    font-weight: 600;
    color: #fff;
}

.singola_sezione {
    background-color: #232323;
    margin-top: 2.5rem;
    padding: 1rem .5rem 2rem .5rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}
.card {
    background-color: #232323;
}
.input, .select select, .textarea {
    background-color: #232323;
    border-color: #3273dc;
    border-radius: 4px;
    color: #eeeeee;
}
.footer {
    background-color: #1f1f1f;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.padre_colonne_riassunto .column {
    display: flex;
}
.padre_colonne_riassunto .column .card {
    flex: 1;
    display: flex;
}
.padre_colonne_riassunto .column .card .card-content {
    display: flex;
}
.statistica_singola {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #292929;
}
.statistica_singola p {
    padding-left: 1rem;
}
.statistica_singola p span.grassetto{
    font-weight: bold;
}

/*Sezione per i grafici*/
.singola_sezione .titolo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.singola_sezione .titolo p{
    margin-bottom: 0;
}
.singola_sezione .titolo .immaginetta_download {
    margin-right: 10px;
}
.singola_sezione .titolo .sezione_bottoni {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.singola_sezione .titolo .sezione_bottoni .bottone {
    font-size: 12px;
}
.singola_sezione .titolo .sezione_bottoni .bottone:first-child {
    margin-right: 10px;
}
/*Sezione per i grafici*/


@media only screen and (max-width: 768px) {
    .title-sezione-grafico {
        margin-top: 1.5rem;
    }
  }